*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
 
html{
    background-color: #fff;
    color:#000000;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-family: 'Montserrat', sans-serif;
}

/*header*/

/*main*/

.navbar {
    background-color:#ffffff;
    position:absolute;
    right: 13%;
    list-style-type: none;
    margin:285px 0 auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 10px 20px #afafaf;
    max-width: 100%;
    display : -webkit-inline-flex;
    display : -ms-inline-flex;
    display : -moz-inline-flex;
    display : -o-inline-flex;
    display : -s-inline-flex;
    display : flex;
    flex-direction: row;
    justify-content: center;
  }

li {
  float: left;
}

li a {
  display: block;
  color: rgba(27,61,108,1);
  text-align: center;
  padding: 15px 43.3px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 900;
  font-size: 24px;
}

li a:hover {
  background-color:#D6E2F0;
}

.sticky{
    position: fixed;
    top: -280px;
    z-index: 100;
}


.logo img{
    height: 190px;
    margin-left:630px;
    top: 30px;  
    position: absolute;
}
.active{
      background-color:rgba(27,61,108,1);
    color: white;
    
}

.home {
    background-color: white;
    height: 65px;
    width: 120px;
    top:285px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;
    position: absolute;
}

#home_1 {
	fill: rgba(27,61,108,1);
}
.home_1 {
    position:absolute;
	width: 45px;
	left: 50px;
	top: 8px;
}

.home:hover{
      background-color:#D6E2F0; 
}
#home_1:hover{
    fill: rgba(27,61,108,1);
}

.stickyv{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
}


.pit {
    position: absolute;
    height: 67px;
    width: 130px;
    right: 0px;
    top: 280px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;  
}

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 28px;
   padding: 15px 25px;
}

.pit a{
    text-decoration: none;
}

.pit:hover {
     background-color:#D6E2F0;   
}
.stickyp {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
    
}
/*about*/

#We_have{
	left: 140px;
	top: 500px;
	position: absolute;
    width: 510px;
	font-weight: bolder;
	font-size: 35px;
	color: rgba(27,61,108,1);
}
#graphic img{
    right: 31px;
	top: 181px;
	position: absolute;
    width: 800px;
}

#We_Are_Not_Limited_To_Any_Part {
	left: 140px;
	top: 780px;
	position: absolute;
	font-weight: bold;
	font-size: 35px;
	color: rgba(28,62,109,1);
}
.key {
    text-align: center;
    position: relative;
    top: 950px;
	font-weight: bold;
	color: rgba(27,61,108,1);
    border: 7px solid rgba(27,61,108,1);
    height: 900px;
    margin: 0px 200px;
    border-radius: 50px;
}
.key h2{
    font-size: 35px;
    padding-top: 50px
}
.column1 {
  float:left;
  
  padding: 50px 0px 0px 100px;
    line-height: 3;
    text-align: right;
}

.column2 {
  float:left;
  padding:50px 0px 0px 0px; 
    line-height: 3;
    text-align:left;
    position: absolute;
    right: 150px;
}

/* team */


.team {
	left: 140px;
	top: 2000px;
	position: absolute;
	font-weight: bolder;
	font-size: 35px;
	color: rgba(27,61,108,1);
}

.ceo{
    position: absolute;
    top: 2200px;
    left: 140px;
}
.ceo img{
    width: 300px;    
}

#Mr_Sumedh_H_Bhawar {
	left: 350px;
    top: 80px;
    width: 500px;
    position: absolute;
	font-weight: bolder;
	font-size: 35px;
	color: rgba(27,61,108,1);
}

#Founder {
	left: 350px;
    top: 140px;
    width: 500px;
    position: absolute;
	font-weight: bolder;
	font-size: 21px;
	color: rgba(27,61,108,1);
}

.cofounder{
    position:absolute;
    top: 2550px;
    left: 140px;
}
.cofounder img{
    width: 300px;    
}

#Mr_Hiraman_K_Bhawar {
	left: 350px;
    top: 80px;
    width: 500px;
    position: absolute;
	font-weight: bolder;
	font-size: 35px;
	color: rgba(27,61,108,1);
}

#Co-founder {
	left: 350px;
    top: 140px;
    width: 500px;
    position: absolute;
	font-weight: bolder;
	font-size: 21px;
	color: rgba(27,61,108,1);
}


.grid-container {
    position: absolute;
    top: 3000px;
  display: grid;
  grid-gap:100px;
  grid-template-columns: auto auto auto;
  padding: 0px;
}

.grid-item {
  padding:0px 20px 0px 100px;
}

.grid-item img{
    width: 280px
}

.name {
    padding: 10px 0px;
	font-weight: bolder;
	font-size: 23px;
	color: rgba(27,61,108,1);
    width: 300px;
}

.post{
	text-align: left;
	font-size: 17px;
	color: rgba(27,61,108,1);
    width: 280px;
    font-weight: bold
    
}


.one,.two,.three,.four,.five,.six,.seven,.eight,.nine{
    opacity:0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.one.animated,.two.animated {
    opacity:1;
}



/* footer */
.footer {
    height: 600px;
    position: relative;
    top: 3100px;

}
