/* footer */


#Our_contact_info {
    left: 100px;
    top: 50px;
	position: absolute;
	font-weight: bold;
	font-size: 30px;
color: rgba(27,61,108,1);;
}

#Global_Head_Office_207second_f {
	left: 150px;
    top: 130px;
    position: absolute;
	width: 250px;
	height: 155px;
	font-weight: bold;
	font-size: 15px;
} 
#Global_Head_Office_207second_f a{
    text-decoration: none;
    color: rgba(27,61,108,1);
}

#Gurgaon_Branch_Office_B3_-424_ {
	left: 150px;
    top: 300px;
	position: absolute;
	width: 348px;
	font-weight: bold;
	font-size: 15px;
	color: rgba(27,61,108,1);
}
#londonaddress{
  	left: 150px;
    top: 400px;
	position: absolute;
	width: 348px;
	font-weight: bold;
	font-size: 15px;
	color: rgba(27,61,108,1);
}
#Follow_us {
    left: 1200px;
    top: 50px;
	position: absolute;
	font-weight: bold;
	font-size: 30px;
	color: rgba(27,61,108,1);
}
#_hrpipetechin {
	left: 900px;
    top: 130px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;

}
#_hrpipetechin a{
    text-decoration: none;
   color: rgba(27,61,108,1);
}
#_hrpipetechin a:hover{
    color: rgba(27,61,108,1);
    font-size: 17px;
}

#chamanpreetspipetechin_manmeet {
	left: 900px;
    top: 200px;
	position: absolute;
    font-weight: bold;
	font-size: 15px;
	
}

 #chamanpreetspipetechin_manmeet a{
    text-decoration: none;
    color: rgba(27,61,108,1);
}
#chamanpreetspipetechin_manmeet a:hover{
    color: rgba(27,61,108,1);
    font-size: 17px;
}

#number1 {
    top: 130px;
	left: 600px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;

}
#number1 a{
    text-decoration: none;
    color: rgba(27,61,108,1);
}
#number1 a:hover{
   color: rgba(27,61,108,1);
    font-size: 17px;
}

#number2 {
	left: 600px;
    top: 300px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	
}

#number2 a{
    text-decoration: none;
  color: rgba(27,61,108,1);
}
#number2 a:hover{
color: rgba(27,61,108,1);
    font-size: 17px;
}

#number3 {
	left: 600px;
    top: 400px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	
}

#number3 a{
    text-decoration: none;
    color: rgba(27,61,108,1);
}
#number3 a:hover{
   color: rgba(27,61,108,1);
    font-size: 17px;
}

.contact img,.contact2 img{
    position: absolute;
    left: -70px;
    top:  0px;
    width: 40px;
}

.con img{
    position: absolute;
    left: -60px;
    top:  0px;
    width: 35px;
}
.con2 img{
     position: absolute;
    left: -60px;
    top:  5px;
    width: 35px;
}

.num1 img{
    position: absolute;
    left: -65px;
    top:  0px;
    width: 40px;
}

.insta img{
    top: 50px;
    position: absolute;
}
.insta img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.link img{
    top: 50px;
    left: 90px;
    position: absolute;  
}
.link img:hover{
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
}
#pesul {
	left: 1200px;
    top: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	
}

#pesul a{
    text-decoration: none;
   color: rgba(27,61,108,1);
}
#pesul a:hover{
   color: rgba(27,61,108,1);
    font-size: 17px;
}

#pesul span {
    color: rgba(27,61,108,1);
}
#pitt {
	left: 1200px;
    top: 280px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	color: rgba(27,61,108,1);
}

#pitt a{
    text-decoration: none;
color: rgba(27,61,108,1);
}
#pitt a:hover{
   color: rgba(27,61,108,1);
    font-size: 17px;
}

#pitt span {
    color: rgba(27,61,108,1);
}
#brochure{
    position: absolute;
    top: 390px;
    left: 1200px;  
    
}

#brochure p{
    text-decoration: none;
  color: rgba(27,61,108,1);
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 45px;
    border-radius: 50px;
    font-size: 17px;
}


#brochure a{
      text-decoration: none;
}

#brochure p:hover{
    transform: scale(1.1);
}


#blogs{
    position: absolute;
    top: 320px;
    left: 1200px;  
    
}

#blogs p{
    text-decoration: none;
  color: rgba(27,61,108,1);
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 17px;
}


#blogs a{
      text-decoration: none;
}

#blogs p:hover{
    transform: scale(1.1);
}

#faq{
    position: absolute;
    top: 320px;
    left: 1315px;  
    
}

#faq p{
    text-decoration: none;
   color: rgba(27,61,108,1);
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 17px;
}


#faq a{
      text-decoration: none;
}

#faq p:hover{
    transform: scale(1.1);
}

.rights {
    position: absolute;
    bottom: 20px;
    color: white;
    left: 50%;
        transform: translate(-50%);
    font-size: 17px;
     text-align: center;
}

.rights p{
    font-size: 17px;
    font-weight: bolder;
    color: rgba(27,61,108,1);
}


.rights mark a{
    background-color: white;
    color: red;
    text-decoration: none;
}


.rights p1{
    text-align: center;
    font-size: 17px;
    font-weight: 100;
    color: rgba(27,61,108,1);
    
}

.rights p1 a{
    text-decoration: none;
    color: rgba(27,61,108,1);
}

@media only screen
and (max-device-width : 480px) {
    
/*footer*/
/*footer*/    


#Our_contact_info {
    left: 30px;
    top: 20px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}

#Global_Head_Office_207second_f {
	left: 100px;
    top: 70px;
    position: absolute;
	width: 200px;
	height: 155px;
	font-weight: bold;
	font-size: 12px;
	
} 
#Gurgaon_Branch_Office_B3_-424_ {
	left: 100px;
    top: 270px;
	position: absolute;
	width: 200px;
	font-weight: bold;
	font-size: 12px;
	
}
    #londonaddress {
	left: 100px;
    top: 420px;
	position: absolute;
	width: 200px;
	font-weight: bold;
	font-size: 12px;
	
}
#Follow_us {
    left: 40px;
    top: 680px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}
#_hrpipetechin {
	left: 100px;
    top: 570px;
	position: absolute;
	font-weight: bold;
	font-size: 12px;
	
}
#chamanpreetspipetechin_manmeet {
	left: 100px;
    top: 620px;
	position: absolute;
    font-weight: bold;
	font-size: 12px;
	
}
#number1 {
    top: 190px;
	left: 100px;
	position: absolute;
	font-weight: bold;
	font-size: 12px;
    width: 120px;
	
}
#number2 {
	left: 100px;
    top: 350px;
	position: absolute;
	font-weight: bold;
        width: 120px;
	font-size: 12px;
	
}
    #number3 {
    top: 510px;
	left: 100px;
	position: absolute;
	font-weight: bold;
	font-size: 12px;
    width: 120px;
	
}

.contact img,.contact2 img{
    position: absolute;
    left: -70px;
    top:  0px;
    width: 40px;
}

.con img{
    position: absolute;
    left: -60px;
    top:  0px;
    width: 35px;
}
.con2 img{
     position: absolute;
    left: -60px;
    top:  5px;
    width: 35px;
}

.num1 img{
    position: absolute;
    left: -65px;
    top:  0px;
    width: 40px;
}
.insta img{
    top: 40px;
    position: absolute;
    width: 40px;
    left: 50px;
}

.link img{
    top: 40px;
    left: 0px;
    position: absolute;  
     width: 40px;
}
    
    #pesul{
    top: 700px;
	left: 160px;
	position: absolute;
	font-weight: bold;
	font-size: 12px;
    width: 120px;
	
    }
        #pitt{
    top: 750px;
	left: 160px;
	position: absolute;
	font-weight: bold;
	font-size: 12px;
    width: 120px;
            }
    
        
    #brochure{
    position: absolute;
    top: 850px;
    left: 137px;  
    
}

#brochure p{
    text-decoration: none;
 
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 13px;
}


#blogs{
    position: absolute;
    top: 800px;
    left: 77px;     
}

#blogs p{
    text-decoration: none;
 
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 13px;
}
    #faq{
    position: absolute;
    top: 800px;
    left: 217px;     
}

#faq p{
    text-decoration: none;
 
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 13px;
}
    
.rights {
    position: absolute;
    bottom: 0px;
    padding-right: 0px;
width: 300px;
    font-size: 13px;
}

  .rights p,.rights p1{
        font-size: 11px;
    }

}

@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   /*footer*/
/*footer*/    
 #Our_contact_info {
    left: 30px;
    top: 20px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}

#Global_Head_Office_207second_f {
	left: 100px;
    top: 70px;
    position: absolute;
	width: 250px;
	height: 155px;
	font-weight: bold;
	font-size: 13px;
	
} 
#Gurgaon_Branch_Office_B3_-424_ {
	left: 100px;
    top: 270px;
	position: absolute;
	width: 300px;
	font-weight: bold;
	font-size: 13px;
	
}
    #londonaddress {
	left: 100px;
    top: 420px;
	position: absolute;
	width: 300px;
	font-weight: bold;
	font-size: 13px;
	
}
#Follow_us {
    left: 40px;
    top: 680px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}
#_hrpipetechin {
	left: 100px;
    top: 570px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
	
}
#chamanpreetspipetechin_manmeet {
	left: 100px;
    top: 620px;
	position: absolute;
    font-weight: bold;
	font-size: 13px;
	
}
#number1 {
    top: 190px;
	left: 100px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	
}
#number2 {
	left: 100px;
    top: 350px;
	position: absolute;
	font-weight: bold;
        width: 120px;
	font-size: 13px;
	
}
    #number3 {
    top: 510px;
	left: 100px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	
}

.contact img,.contact2 img{
    position: absolute;
    left: -70px;
    top:  0px;
    width: 40px;
}

.con img{
    position: absolute;
    left: -60px;
    top:  0px;
    width: 35px;
}
.con2 img{
     position: absolute;
    left: -60px;
    top:  5px;
    width: 35px;
}

.num1 img{
    position: absolute;
    left: -65px;
    top:  0px;
    width: 40px;
}

.insta img{
    top: 40px;
    position: absolute;
    width: 40px;
    left: 50px;
}

.link img{
    top: 40px;
    left: 0px;
    position: absolute;  
     width: 40px;
}
    
    #pesul{
    top: 700px;
	left: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	
    }
        #pitt{
    top: 750px;
	left: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
            }
            
                #brochure{
    position: absolute;
    top: 800px;
    left: 40px;  
    
}

#brochure p{
    text-decoration: none;
   
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 13px;
}

#blogs{
    position: absolute;
    top: 800px;
    left: 200px;     
}

#blogs p{
    text-decoration: none;
   
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 13px;
}

      
      #faq{
    position: absolute;
    top: 800px;
    left: 350px;     
}

#faq p{
    text-decoration: none;
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 13px;
}

            
.rights {
    position: absolute;
    bottom: 0px;
width: 500px;
    font-size: 13px;
}

          
}   

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) {


#Our_contact_info {
    left: 30px;
    top: 20px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}

#Global_Head_Office_207second_f {
	left: 100px;
    top: 70px;
    position: absolute;
	width: 250px;
	height: 155px;
	font-weight: bold;
	font-size: 13px;
	
} 
#Gurgaon_Branch_Office_B3_-424_ {
	left: 100px;
    top: 200px;
	position: absolute;
	width: 200px;
	font-weight: bold;
	font-size: 13px;
	
}
    #londonaddress {
	left: 100px;
    top: 300px;
	position: absolute;
	width: 300px;
	font-weight: bold;
	font-size: 13px;
	
}
#Follow_us {
    left: 40px;
    top: 480px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}
#_hrpipetechin {
	left: 100px;
    top: 400px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
	
}
#chamanpreetspipetechin_manmeet {
	left: 500px;
    top: 400px;
	position: absolute;
    font-weight: bold;
	font-size: 13px;
	
}
#number1 {
    top: 70px;
	left: 500px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	
}
#number2 {
	left: 500px;
    top: 200px;
	position: absolute;
	font-weight: bold;
        width: 120px;
	font-size: 13px;
	
}
    #number3 {
    top: 300px;
	left: 500px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	color: rgba(255,255,255,1);
}

.contact img,.contact2 img{
    position: absolute;
    left: -70px;
    top:  0px;
    width: 40px;
}

.con img{
    position: absolute;
    left: -60px;
    top:  0px;
    width: 35px;
}
.con2 img{
     position: absolute;
    left: -60px;
    top:  5px;
    width: 35px;
}

.num1 img{
    position: absolute;
    left: -65px;
    top:  0px;
    width: 40px;
}

.insta img{
    top: 40px;
    position: absolute;
    width: 40px;
    left: 50px;
}

.link img{
    top: 40px;
    left: 0px;
    position: absolute;  
     width: 40px;
}
    
    #pesul{
    top: 520px;
	left: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	color: rgba(255,255,255,1);
    }
        #pitt{
    top: 520px;
	left: 450px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
            color: rgba(255,255,255,1);}
            
                #brochure{
    position: absolute;
    top: 550px;
    left: 100px;  
    
}

#brochure p{
    text-decoration: none;
   
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 15px;
}

#blogs{
    position: absolute;
    top: 550px;
    left: 330px;     
}

#blogs p{
    text-decoration: none;
   
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 15px;
}
      
    #faq{
    position: absolute;
    top: 550px;
    left: 550px;     
}

#faq p{
    text-decoration: none;
    
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 15px;
}

.rights {
    position: absolute;
    bottom: 0px;
    
    width: 700px;
    font-size: 15px;
}
 
}

      @media only screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
        
/*footer*/
/*footer*/    
    
#Our_contact_info {
    left: 30px;
    top: 20px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}

#Global_Head_Office_207second_f {
	left: 100px;
    top: 70px;
    position: absolute;
	width: 250px;
	height: 155px;
	font-weight: bold;
	font-size: 13px;
	
} 
#Gurgaon_Branch_Office_B3_-424_ {
	left: 100px;
    top: 200px;
	position: absolute;
	width: 200px;
	font-weight: bold;
	font-size: 13px;
	
}
    #londonaddress {
	left: 100px;
    top: 300px;
	position: absolute;
	width: 300px;
	font-weight: bold;
	font-size: 13px;
	
}
#Follow_us {
    left: 40px;
    top: 480px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}
#_hrpipetechin {
	left: 100px;
    top: 400px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
      }
#chamanpreetspipetechin_manmeet {
	left: 500px;
    top: 400px;
	position: absolute;
    font-weight: bold;
	font-size: 13px;
	
}
#number1 {
    top: 70px;
	left: 500px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	
}
#number2 {
	left: 500px;
    top: 200px;
	position: absolute;
	font-weight: bold;
        width: 120px;
	font-size: 13px;
	
}
    #number3 {
    top: 300px;
	left: 500px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	
}


    
    #pesul{
    top: 520px;
	left: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	color: rgba(255,255,255,1);
    }
        #pitt{
    top: 520px;
	left: 450px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
            color: rgba(255,255,255,1);}
            
            
         #brochure{
    position: absolute;
    top: 550px;
    left: 100px;  
    
}

#brochure p{
    text-decoration: none;
    
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 15px;
}

#blogs{
    position: absolute;
    top: 550px;
    left: 330px;     
}

#blogs p{
    text-decoration: none;
    
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 15px;
}
      
    #faq{
    position: absolute;
    top: 550px;
    left: 550px;     
}

#faq p{
    text-decoration: none;
    
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 15px;
}

.rights {
    position: absolute;
    bottom: 0px;
   
    font-size: 15px;
}  


}
@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {


#Our_contact_info {
    left: 30px;
    top: 20px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}

#Global_Head_Office_207second_f {
	left: 100px;
    top: 70px;
    position: absolute;
	width: 250px;
	height: 155px;
	font-weight: bold;
	font-size: 13px;
	
} 
#Gurgaon_Branch_Office_B3_-424_ {
	left: 100px;
    top: 200px;
	position: absolute;
	width: 200px;
	font-weight: bold;
	font-size: 13px;
	
}
    #londonaddress {
	left: 100px;
    top: 300px;
	position: absolute;
	width: 300px;
	font-weight: bold;
	font-size: 13px;
      }
#Follow_us {
    left: 40px;
    top: 480px;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	
}
      .insta img{
    top: 30px;
    position: absolute;
          width: 40px;
}

.link img{
    top: 30px;
    left: 70px;
    position: absolute; 
    width: 40px;
}
#_hrpipetechin {
	left: 100px;
    top: 400px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#chamanpreetspipetechin_manmeet {
	left: 500px;
    top: 400px;
	position: absolute;
    font-weight: bold;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#number1 {
    top: 70px;
	left: 500px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	color: rgba(255,255,255,1);
}
#number2 {
	left: 500px;
    top: 200px;
	position: absolute;
	font-weight: bold;
        width: 120px;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
    #number3 {
    top: 300px;
	left: 500px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	color: rgba(255,255,255,1);
}


    
    #pesul{
    top: 520px;
	left: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
	
    }
        #pitt{
    top: 520px;
	left: 450px;
	position: absolute;
	font-weight: bold;
	font-size: 13px;
    width: 120px;
      }
       #brochure{
    position: absolute;
    top: 550px;
    left: 100px;  
    
}

#brochure p{
    text-decoration: none;
    
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 25px;
    border-radius: 50px;
    font-size: 15px;
}

#blogs{
    position: absolute;
    top: 550px;
    left: 330px;     
}

#blogs p{
    text-decoration: none;
    
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 15px;
}
      
    #faq{
    position: absolute;
    top: 550px;
    left: 550px;     
}

#faq p{
    text-decoration: none;
   
      border: 4px solid rgba(27,61,108,1);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 15px;
}

.rights {
    position: absolute;
    bottom: 20px;
  
    font-size: 15px;
}
 
}


      
@media only screen 
  and (min-device-width: 1200px) 
    and (max-device-width: 1366px) {
        
    
   
    /*footer*/

#Follow_us {
    left: 1000px;
    top: 50px;
	position: absolute;
	font-weight: bold;
	font-size: 30px;
	
}
    
#pesul {
	left: 1000px;
    top: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;;
}


#pitt {
	left: 1000px;
    top: 280px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
}
    #_hrpipetechin {
	left: 800px;
    top: 130px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;

}
#chamanpreetspipetechin_manmeet {
	left: 800px;
    top: 200px;
	position: absolute;
    font-weight: bold;
	font-size: 15px;
}
   #brochure{
    position: absolute;
    top: 390px;
    left: 1000px;  
    
}

#blogs{
    position: absolute;
    top: 320px;
    left: 1000px;  
    
}
    #faq{
    position: absolute;
    top: 320px;
    left: 1110px;  
    
}

   #number1 {
    top: 130px;
	left: 550px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#number2 {
	left: 550px;
    top: 300px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#number3 {
	left: 550px;
    top: 400px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
  .rights {
    position: absolute;
    bottom: 20px;
    font-size: 17px;
    width: 700px;   

}  
}

@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1440px) 
  and (-webkit-min-device-pixel-ratio: 1)
{
    /*footer*/
    #Follow_us {
    left: 1100px;
    top: 60px;
	position: absolute;
	font-weight: bold;
	font-size: 30px;
	
}
    
#pesul {
	left: 1100px;
    top: 200px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;

}


#pitt {
	left: 1100px;
    top: 280px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;

}
    #_hrpipetechin {
	left: 850px;
    top: 130px;
	position: absolute;
	font-weight: bold;
	font-size: 15px;

}
#chamanpreetspipetechin_manmeet {
	left: 850px;
    top: 200px;
	position: absolute;
    font-weight: bold;
	font-size: 15px;
	
}

    #brochure{
    position: absolute;
    top: 390px;
    left: 1100px;  
    
}

#blogs{
    position: absolute;
    top: 320px;
    left: 1100px;  
    
}
       #faq{
    position: absolute;
    top: 320px;
    left: 1210px;  
    }
 
.rights {
    position: absolute;
    bottom: 20px;
    font-size: 17px;
  width: 700px;
}
    
   
}


@media only screen 
  and (min-device-width: 1800px) 
    and (max-device-width: 2000px) {
        
    
   #Our_contact_info {
    left: 300px;
    top: 50px;

}

#Global_Head_Office_207second_f {
	left: 300px;
    top: 130px;
} 

#Gurgaon_Branch_Office_B3_-424_ {
	left: 300px;
    top: 300px;
	
}
#londonaddress{
  	left: 300px;
    top: 400px;
}
#Follow_us {
    left: 1450px;
    top: 50px;
}
#_hrpipetechin {
	left: 1150px;
    top: 130px;
}
#chamanpreetspipetechin_manmeet {
	left: 1150px;
    top: 200px;
}

#number1 {
    top: 130px;
	left: 800px;
}

#number2 {
	left: 800px;
    top: 300px;
}

#number3 {
	left: 800px;
    top: 400px;
}

.insta img{
    top: 50px;
    position: absolute;
}

.link img{
    top: 50px;
    left: 90px;
    position: absolute;  
}

#pesul {
	left: 1450px;
    top: 200px;
}

#pitt {
	left: 1450px;
    top: 280px;
}

#brochure{
    position: absolute;
    top: 390px;
    left: 1450px;  
    
}

#blogs{
    position: absolute;
    top: 320px;
    left: 1450px;  
    
}

#faq{
    position: absolute;
    top: 320px;
    left: 1565px;  
    
}

.rights {
    position: absolute;
    bottom: 20px;
     text-align: center;
}
}