 @media only screen 
and (max-device-width : 480px)
{
   #menu{
	width: 30px;
	height: 30px;

    left: 50%;
    transform: translate(-50%);
	cursor: pointer;
    position: fixed;
    top:30px;
    background-color: white;
    padding: 4px;
    border-radius:100px;
    box-shadow: 0px 3px 20px #afafaf;
       
}

 
    
.bar{
	height: 3px;
	width: 60%;
	background-color:  rgba(27,61,108,1);
	display: block;
	border-radius: 9px;
    margin-top:3.5px;
    margin-left:6px;
    padding: 0px 0px;
    position:relative;
    top: 5px;
    
}

.navbar li a{
	color: white;
	text-decoration: none;
        font-size: 10px;
    padding: 20px 40px;
    margin-left: 0;
    

}

.navbar{
	padding: 0;
	margin: 0px 0px;
	display: none;
    width: 160px;
    box-shadow: none;
    background-color:  rgba(27,61,108,1);
     position: static;
    
}
.menu-bg, #menu-bar{
	top: 170px;
	left: 0;
	position: fixed;

}
.menu-bg{
	z-index: 1;
	width:0px;
	height: 00px;
	margin: 0px 0px 0px 0px;
	background-color: rgba(27,61,108,1);
	border-radius: 25%;
    transition: 0.3s ease;

}
#menu-bar{
	z-index: 20;	
}
.change-bg{
	width: 400px;
	height: 550px;
	transform: translate(-60%,-30%);
    z-index: 10;
}
 .change#menu{
        background-color:rgba(27,61,108,1) ;
    }
.change .bar{
	background-color: white;
    
}
.change #bar1{
	transform: translateY(5px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-8px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change {
	display: block;

}  
    .active{
    background-color: rgb(27, 55, 95);
    }    
.sticky{
    top: 170px;
    z-index: 2;
    left: 0px;
 background-color:rgba(27,61,108,1);
  width: 160px;
    
}

    
.logo img{
    height: 160px;
margin-left: 0;
    left: 50%;
    transform: translate(-50%);
    top: 150px;  
    position: absolute;
}

.home {
    background-color: rgba(27,61,108,1);
    height: 40px;
    width: 60px;
    top:30px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 0px 0px #afafaf;
    z-index: 25; 
    position: fixed;
}
    .stickyv{
        position: fixed;
        top: 30px;
    }

.home_1 {
    position:absolute;
	width: 25px;
	left: 20px;
	top: 9px;
}
    #home_1{
        fill: white;
    }

.pit {
    position: absolute;
    height: 40px;
    width: 60px;
    right: 0px;
    top: 30px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 0px 0px 5px #afafaf;
    z-index: 5;
    position: fixed;
    }
    .stickyp{
        position: fixed;
        top: 30px;
    }    

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 15px;
   padding: 10px 10px;
}

        /*service */

#Our_projects {
	left: 40px;
	top: 400px;
	position: absolute;
	width: 250px;
	font-weight: bold;
	font-size: 22px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 200px;
    position: absolute;
    left: 60px;
    bottom: -300px;
}

#here {
	left: 70px;
	top: 850px;
	font-size: 22px;
}

/*pics*/

.grid-container {
    margin-top: 1000px;
  display: grid;
  grid-template-columns: auto  ;
  grid-gap:40px;
  padding: 0px 40px;
}
.grid-item {
  padding: 0px 0px;
    cursor: pointer;
}

.grid-item img{
    height: 150px;
    width: 250px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 50px;
    width: 200px;
    font-size: 15px;
    padding: 10px 20px 10px 10px;
    margin-top: -75px;
    margin-left: 0px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 20px;
}

.grid-item:hover .para{
    opacity: 1;
}
    
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve{
    opacity:0;
    width: 25px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}    

    /*footer*/
/*footer*/    
    
    .footer {
   
    height: 1000px;
    position: relative;
    top:50px;
}


}



@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  #menu{
	width: 30px;
	height: 30px;
 left: 50%;
    transform: translate(-50%);
	cursor: pointer;
    position: fixed;
    top:30px;
    background-color: white;
    padding: 4px;
    border-radius:100px;
    box-shadow: 0px 3px 20px #afafaf;
       
}

 
    
.bar{
	height: 3px;
	width: 60%;
	background-color:  rgba(27,61,108,1);
	display: block;
	border-radius: 9px;
    margin-top:3.5px;
    margin-left:6px;
    padding: 0px 0px;
    position:relative;
    top: 5px;
    
}

.navbar li a{
	color: white;
	text-decoration: none;
        font-size: 10px;
    padding: 20px 40px;

}

.navbar{
	padding: 0;
	margin: 0px 0px;
	display: none;
    width: 160px;
    box-shadow: none;
    background-color:  rgba(27,61,108,1);
     position: static;
    
}
     .active{
    background-color: rgb(27, 55, 95);
    }      
      
.menu-bg, #menu-bar{
	top: 170px;
	left: 0;
	position: fixed;
}
.menu-bg{
	z-index: 1;
	width:0px;
	height: 00px;
	margin: 0px 0px 0px 0px;
	background-color: rgba(27,61,108,1);
	border-radius: 25%;
    transition: 0.3s ease;

}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 400px;
	height: 550px;
	transform: translate(-60%,-30%);
}
 .change#menu{
        background-color:rgba(27,61,108,1) ;
    }
.change .bar{
	background-color: white;
    
}
.change #bar1{
	transform: translateY(5px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-8px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change {
	display: block;

}   
.sticky{
    top: 170px;
    z-index: 2;
    left: 0px;
  width: 160px;
    
}

    
.logo img{
    height: 160px;
    margin-left:0px;
     left: 50%;
    transform: translate(-50%);
    top: 150px;  
    position: absolute;
}

.home {
    background-color: rgba(27,61,108,1);
    height: 40px;
    width: 60px;
    top:30px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 0px 0px #afafaf;
    z-index: 5; 
    position: fixed;
}
    .stickyv{
        position: fixed;
        top: 30px;
    }

.home_1 {
    position:absolute;
	width: 25px;
	left: 20px;
	top: 9px;
}

      
      #home_1{
          fill:white;
      }


.pit {
    position: absolute;
    height: 40px;
    width: 60px;
    right: 0px;
    top: 30px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 0px 0px 5px #afafaf;
    z-index: 5;
    position: fixed;
    }
    .stickyp{
        position: fixed;
        top: 30px;
    }    

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 15px;
   padding: 10px 10px;
}


.pit:hover {
     background-color:#D6E2F0;   
}

#Our_projects {
	left: 40px;
	top: 400px;
	position: absolute;
	width: 350px;
	font-weight: bold;
	font-size: 22px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 300px;
    position: absolute;
    left: 130px;
    bottom: -400px;
}

#here {
	left: 70px;
	top: 900px;
	font-size: 22px;
}

/*pics*/

.grid-container {
    margin-top: 1000px;
  display: grid;
  grid-template-columns: auto ;
  grid-gap:40px;
  padding: 0px 90px;
}
.grid-item {
  padding: 0px 0px;
    cursor: pointer;
}

.grid-item img{
    height: 200px;
    width: 350px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 50px;
    width: 200px;
    font-size: 15px;
    padding: 10px 20px 10px 10px;
    margin-top: -75px;
    margin-left: 0px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 20px;
}

.grid-item:hover .para{
    opacity: 1;
}     
      
/*footer*/
/*footer*/    
    
    .footer {
    height: 950px;
    position: relative;
    top: 50px;
} 
}   


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 900px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 #menu{
	width: 30px;
	height: 30px;
	margin: 0px 0px 0px 0px;
      left: 50%;
    transform: translate(-50%);
	cursor: pointer;
    position: fixed;
    top:30px;
    background-color: white;
    padding: 4px;
    border-radius:100px;
    box-shadow: 0px 3px 20px #afafaf;
       
}

 
    
.bar{
	height: 3px;
	width: 60%;
	background-color:  rgba(27,61,108,1);
	display: block;
	border-radius: 9px;
    margin-top:3.5px;
    margin-left:6px;
    padding: 0px 0px;
    position:relative;
    top: 5px;
    
}

.navbar li a{
	color: white;
	text-decoration: none;
        font-size: 10px;
    padding: 20px 40px;

}

.navbar{
	padding: 0;
	margin: 0px 0px;
	display: none;
    width: 160px;
    box-shadow: none;
    background-color:  rgba(27,61,108,1);
     position: static;
    
}
     .active{
    background-color: rgb(27, 55, 95);
    }      
      
.menu-bg, #menu-bar{
	top: 170px;
	left: 0;
	position: fixed;
}
.menu-bg{
	z-index: 1;
	width:0px;
	height: 00px;
	margin: 0px 0px 0px 0px;
	background-color: rgba(27,61,108,1);
	border-radius: 25%;
    transition: 0.3s ease;

}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 400px;
	height: 550px;
	transform: translate(-60%,-30%);
}
 .change#menu{
        background-color:rgba(27,61,108,1) ;
    }
.change .bar{
	background-color: white;
    
}
.change #bar1{
	transform: translateY(5px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-8px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change {
	display: block;

}   
.sticky{
    top: 170px;
    z-index: 2;
    left: 0px;
  width: 160px;
    
}

    
.logo img{
    height: 200px;
    margin-left:0px;
     left: 50%;
    transform: translate(-50%);
    top: 170px;  
    position: absolute;
}

.home {
    background-color: rgba(27,61,108,1);
    height: 40px;
    width: 60px;
    top:30px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 0px 0px #afafaf;
    z-index: 5; 
    position: fixed;
}
    .stickyv{
        position: fixed;
        top: 30px;
    }

.home_1 {
    position:absolute;
	width: 25px;
	left: 20px;
	top: 9px;
}

      #home_1{
          fill:white;
      }

.pit {
    position: absolute;
    height: 40px;
    width: 60px;
    right: 0px;
    top: 30px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 0px 0px 5px #afafaf;
    z-index: 5;
    position: fixed;
    }
    .stickyp{
        position: fixed;
        top: 30px;
    }    

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 15px;
   padding: 10px 10px;
}


.pit:hover {
     background-color:#D6E2F0;   
}
     
       
      #Our_projects {
	left: 40px;
	top: 400px;
	position: absolute;
	width: 450px;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 300px;
    position: absolute;
    left: 330px;
    bottom: -400px;
}

#here {
	left: 140px;
	top: 900px;
	font-size: 25px;
}

/*pics*/

.grid-container {
    margin-top: 1000px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:40px;
  padding: 0px 10px;
}
.grid-item {
  padding: 0px 0px;
    cursor: pointer;
}

.grid-item img{
    height: 200px;
    width: 350px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 50px;
    width: 200px;
    font-size: 15px;
    padding: 10px 20px 10px 10px;
    margin-top: -75px;
    margin-left: 0px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 20px;
}

.grid-item:hover .para{
    opacity: 1;
}  
    
/*footer*/
/*footer*/    
    
    .footer {
    height: 700px;
    position: relative;
    top: 50px;
}


}


@media only screen 
  and (min-device-width: 900px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      
      #menu{      
  width: 30px;
	height: 30px;
	margin: 0px 0px 0px 0px;
           left: 50%;
    transform: translate(-50%);
	cursor: pointer;
    position: fixed;
    top:30px;
    background-color: white;
    padding: 4px;
    border-radius:100px;
    box-shadow: 0px 3px 20px #afafaf;
       
}

 
    
.bar{
	height: 3px;
	width: 60%;
	background-color:  rgba(27,61,108,1);
	display: block;
	border-radius: 9px;
    margin-top:3.5px;
    margin-left:6px;
    padding: 0px 0px;
    position:relative;
    top: 5px;
    
}

.navbar li a{
	color: white;
	text-decoration: none;
        font-size: 10px;
    padding: 20px 40px;

}

.navbar{
	padding: 0;
	margin: 0px 0px;
	display: none;
    width: 160px;
    box-shadow: none;
    background-color:  rgba(27,61,108,1);
     position: static;
    
}
     .active{
    background-color: rgb(27, 55, 95);
    }      
.menu-bg, #menu-bar{
	top: 170px;
	left: 0;
	position: fixed;
}
.menu-bg{
	z-index: 1;
	width:0px;
	height: 00px;
	margin: 0px 0px 0px 0px;
	background-color: rgba(27,61,108,1);
	border-radius: 25%;
    transition: 0.3s ease;

}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 400px;
	height: 550px;
	transform: translate(-60%,-30%);
}
 .change#menu{
        background-color:rgba(27,61,108,1) ;
    }
.change .bar{
	background-color: white;
    
}
.change #bar1{
	transform: translateY(5px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-8px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change {
	display: block;

}   
.sticky{
  top: 170px;
  z-index: 2;
  left: 0px;
  width: 160px;
    
}

    
.logo img{
    height: 200px;
    margin-left:0px;
     left: 50%;
    transform: translate(-50%);
    top: 170px;  
    position: absolute;
}

.home {
    background-color: rgba(27,61,108,1);
    height: 40px;
    width: 60px;
    top:30px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 0px 0px #afafaf;
    z-index: 5; 
    position: fixed;
}
    .stickyv{
        position: fixed;
        top: 30px;
    }

.home_1 {
    position:absolute;
	width: 25px;
	left: 20px;
	top: 9px;
}

      #home_1{
          fill:white;
      }
.pit {
    position: absolute;
    height: 40px;
    width: 60px;
    right: 0px;
    top: 30px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 0px 0px 5px #afafaf;
    z-index: 5;
    position: fixed;
    }
    .stickyp{
        position: fixed;
        top: 30px;
    }    

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 15px;
   padding: 10px 10px;
}

.pit:hover {
     background-color:#D6E2F0;   
}
           #Our_projects {
	left: 40px;
	top: 400px;
	position: absolute;
	width: 450px;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 300px;
    position: absolute;
    left: 430px;
    bottom: -400px;
}

#here {
	left: 190px;
	top: 900px;
	font-size: 25px;
}

/*pics*/

.grid-container {
    margin-top: 1000px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:100px;
  padding: 0px 50px;
}
.grid-item {
  padding: 0px 0px;
    cursor: pointer;
}

.grid-item img{
    height: 200px;
    width: 350px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 50px;
    width: 200px;
    font-size: 15px;
    padding: 10px 20px 10px 10px;
    margin-top: -75px;
    margin-left: 0px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 20px;
}

.grid-item:hover .para{
    opacity: 1;
}  
  

    
/*footer*/
/*footer*/    
    
    .footer {
    height: 700px;
    position: relative;
    top: 50px;
}

}

@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1199px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      
      #menu{      
  width: 30px;
	height: 30px;
	margin: 0px 0px 0px 0px;
           left: 50%;
    transform: translate(-50%);
	cursor: pointer;
    position: fixed;
    top:30px;
    background-color: white;
    padding: 4px;
    border-radius:100px;
    box-shadow: 0px 3px 20px #afafaf;
       
}

 
    
.bar{
	height: 3px;
	width: 60%;
	background-color:  rgba(27,61,108,1);
	display: block;
	border-radius: 9px;
    margin-top:3.5px;
    margin-left:6px;
    padding: 0px 0px;
    position:relative;
    top: 5px;
    
}

.navbar li a{
	color: white;
	text-decoration: none;
        font-size: 10px;
    padding: 20px 40px;

}

.navbar{
	padding: 0;
	margin: 0px 0px;
	display: none;
    width: 160px;
    box-shadow: none;
    background-color:  rgba(27,61,108,1);
     position: static;
}
           .active{
    background-color: rgb(27, 55, 95);
    }
.menu-bg, #menu-bar{
	top: 170px;
	left: 0;
	position: fixed;
}
.menu-bg{
	z-index: 1;
	width:0px;
	height: 00px;
	margin: 0px 0px 0px 0px;
	background-color: rgba(27,61,108,1);
	border-radius: 25%;
    transition: 0.3s ease;

}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 400px;
	height: 550px;
	transform: translate(-60%,-30%);
}
 .change#menu{
        background-color:rgba(27,61,108,1) ;
    }
.change .bar{
	background-color: white;
    
}
.change #bar1{
	transform: translateY(5px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-8px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change {
	display: block;

}   
.sticky{
  top: 170px;
  z-index: 2;
  left: 0px;
  width: 160px;
    
}

    
.logo img{
    height: 200px;
    margin-left:0px;
     left: 50%;
    transform: translate(-50%);
    top: 170px;  
    position: absolute;
}

.home {
    background-color: rgba(27,61,108,1);
    height: 40px;
    width: 60px;
    top:30px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px 0px 0px #afafaf;
    z-index: 5; 
    position: fixed;
}
    .stickyv{
        position: fixed;
        top: 30px;
    }

.home_1 {
    position:absolute;
	width: 25px;
	left: 20px;
	top: 9px;
}

      #home_1{
          fill:white;
      }
.pit {
    position: absolute;
    height: 40px;
    width: 60px;
    right: 0px;
    top: 30px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 0px 0px 5px #afafaf;
    z-index: 5;
    position: fixed;
    }
    .stickyp{
        position: fixed;
        top: 30px;
    }    

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 15px;
   padding: 10px 10px;
}


.pit:hover {
     background-color:#D6E2F0;   
}
           #Our_projects {
	left: 40px;
	top: 400px;
	position: absolute;
	width: 450px;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 300px;
    position: absolute;
    left: 630px;
    bottom: -400px;
}

#here {
	left: 190px;
	top: 900px;
	font-size: 25px;
}

/*pics*/

.grid-container {
    margin-top: 1000px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:100px;
  padding: 0px 50px;
}
.grid-item {
  padding: 0px 0px;
    cursor: pointer;
}

.grid-item img{
    height: 200px;
    width: 350px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 50px;
    width: 200px;
    font-size: 15px;
    padding: 10px 20px 10px 10px;
    margin-top: -75px;
    margin-left: 0px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 20px;
}

.grid-item:hover .para{
    opacity: 1;
}  
  

    
/*footer*/
/*footer*/    
    
    .footer {
    height: 700px;
    position: relative;
    top: 50px;
}


}





@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1440px) 
  and (-webkit-min-device-pixel-ratio: 1)
{
   .navbar {
    background-color:#ffffff;
    position:absolute;
    right: 11%;
    top:0px;
    list-style-type: none;
    margin:285px 0 auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 10px 20px #afafaf;
    max-width: 100%;
    display : -webkit-inline-flex;
    display : -ms-inline-flex;
    display : -moz-inline-flex;
    display : -o-inline-flex;
    display : -s-inline-flex;
    display : flex;
    flex-direction: row;
    justify-content: center;
  }
li {
  float: left;
}

li a {
  display: block;
  color: rgba(27,61,108,1);
  text-align: center;
  padding: 15px 40.3px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 900;
  font-size: 24px;
}


.logo img{
    height: 190px;
    right:600px;
    top: 30px;  
    position: absolute;
}

.sticky{
    position: fixed;
    top: -280px;
    z-index: 100;
}    
.home {
    background-color: white;
    height: 60px;
    width: 100px;
    top:285px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;
    position: absolute;
}

#home_1 {
	fill: rgba(27,61,108,1);
}
.home_1 {
    position:absolute;
	width: 35px;
	left: 45px;
	top: 10px;
}





.pit {
    position: absolute;
    height: 60px;
    width: 100px;
    right: 0px;
    top: 280px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;  
}

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 28px;
   padding: 15px 25px;
}

.pit a{
    text-decoration: none;
}

.pit:hover {
     background-color:#D6E2F0;   
}
.stickyp{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
    
}

    .stickyv{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
}
    .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve{
    opacity:0;
    width: 10px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
  
}

@media only screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1)
{
  .navbar {
    background-color:#ffffff;
    position:absolute;
    right: 15.5%;
    top:0px;
    list-style-type: none;
    margin:285px 0 auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 10px 20px #afafaf;
    max-width: 100%;
    display : -webkit-inline-flex;
    display : -ms-inline-flex;
    display : -moz-inline-flex;
    display : -o-inline-flex;
    display : -s-inline-flex;
    display : flex;
    flex-direction: row;
    justify-content: center;
  }

li {
  float: left;
}

li a {
  display: block;
  color: rgba(27,61,108,1);
  text-align: center;
  padding: 15px 25.3px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 900;
  font-size: 24px;
}


.logo img{
    height: 190px;
    right:555px;
    top: 30px;  
    position: absolute;
}

    .sticky{
    position: fixed;
    top: -280px;
    z-index: 100;
} 

.home {
    background-color: white;
    height: 60px;
    width: 100px;
    top:285px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;
    position: absolute;
}

#home_1 {
	fill:  rgba(27,61,108,1);
}
.home_1 {
    position:absolute;
	width: 35px;
	left: 45px;
	top: 10px;
}


.pit {
    position: absolute;
    height: 60px;
    width: 100px;
    right: 0px;
    top: 280px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;  
}

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 28px;
   padding: 15px 25px;
}

.pit a{
    text-decoration: none;
}

.pit:hover {
     background-color:#D6E2F0;   
}
.stickyp{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
    
}

    .stickyv{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
}
    /*service */

#Our_projects {
	left: 140px;
	top: 500px;
	position: absolute;
	width: 500px;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 350px;
    position: absolute;
    left: 700px;
    bottom: -250px;
}

#here {
	left: 350px;
	top: 850px;
	position: absolute;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,61,108,1);
}

/*pics*/

.grid-container {
    margin-top: 900px;
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap:100px;
  padding: 50px 100px;
}
.grid-item {
  padding: 0px 0px;
    cursor: pointer;
}

.grid-item img{
    height: 300px;
    width: 500px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 70px;
    width: 390px;
    padding: 20px 0px 0px 20px;
    margin-top: -95px;
    margin-left: 150px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 30px;
}

.grid-item:hover .para{
    opacity: 1;
}

.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve{
    opacity:0;
    width: 20px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.one.animated{
    opacity:1;
}
}

@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1)
{
    
    .navbar {
    background-color:#ffffff;
    position:absolute;
    right: 11%;
    top:0px;
    list-style-type: none;
    margin:285px 0 auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 10px 20px #afafaf;
    max-width: 100%;
    display : -webkit-inline-flex;
    display : -ms-inline-flex;
    display : -moz-inline-flex;
    display : -o-inline-flex;
    display : -s-inline-flex;
    display : flex;
    flex-direction: row;
    justify-content: center;
  }


li {
  float: left;
}

li a {
  display: block;
  color: rgba(27,61,108,1);
  text-align: center;
  padding: 15px 25.3px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 900;
  font-size: 24px;
}
    .sticky{
    position: fixed;
    top: -280px;
    z-index: 100;
}


.logo img{
    height: 190px;
    right:500px;
    top: 30px;  
    position: absolute;
}
.home {
    background-color: white;
    height: 60px;
    width: 100px;
    top:285px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;
    position: absolute;
}

#home_1 {
	fill:rgba(27,61,108,1);
}
.home_1 {
    position:absolute;
	width: 35px;
	left: 45px;
	top: 10px;
}





.pit {
    position: absolute;
    height: 60px;
    width: 100px;
    right: 0px;
    top: 280px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;  
}

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 28px;
   padding: 15px 25px;
}

.pit a{
    text-decoration: none;
}

.pit:hover {
     background-color:#D6E2F0;   
}
.stickyp{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
    
}

    .stickyv{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
}
    /*service */

#Our_projects {
	left: 140px;
	top: 500px;
	position: absolute;
	width: 500px;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 350px;
    position: absolute;
    left: 700px;
    bottom: -250px;
}

#here {
	left: 200px;
	top: 850px;
	position: absolute;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,61,108,1);
}

/*pics*/

.grid-container {
    margin-top: 900px;
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap:50px;
  padding: 50px 50px;
}
.grid-item {
  padding: 0px 0px;
    cursor: pointer;
}

.grid-item img{
    height: 300px;
    width: 500px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 70px;
    width: 390px;
    padding: 20px 0px 0px 20px;
    margin-top: -95px;
    margin-left: 150px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 30px;
}

.grid-item:hover .para{
    opacity: 1;
}

.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve{
    opacity:0;
    width: 20px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.one.animated{
    opacity:1;
}
       
}



@media only screen 
  and (min-device-width: 1800px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1)
{


li {
  float: left;
}

li a {
  display: block;
  color: rgba(27,61,108,1);
  text-align: center;
  padding: 20px 52.9px;
  text-decoration: none;
  border-radius: 60px;
  font-weight: 900;
  font-size: 30px;
}


.logo img{
    height: 200px;
    left:200px;
    top: 30px;  
    position: absolute;
}

.home {
    background-color: rgba(27,61,108,1);
    height: 80px;
    width: 120px;
    top:280px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;
    position: absolute;
}

#home_1 {
	fill: white;
}
.home_1 {
    position:absolute;
	width: 45px;
	left: 45px;
	top: 20px;
}





.pit {
    position: absolute;
    height: 80px;
    width: 120px;
    right: 0px;
    top: 280px;  
    border-bottom-left-radius:40px;
    border-top-left-radius: 40px;
    box-shadow: 5px 10px 20px #afafaf;  
}

.pit h1{
    color:rgba(27,61,108,1);
    font-size: 32px;
   padding: 20px 30px;
}

.pit a{
    text-decoration: none;
}

.pit:hover {
     background-color:#D6E2F0;   
}
.stickyp{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: white;
    
}

    .stickyv{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    
}
    /*service */

#Our_projects {
	left: 140px;
	top: 500px;
	position: absolute;
	width: 700px;
	font-weight: bold;
	font-size: 45px;
	color: rgba(27,61,108,1);
}

#Our_projects img{
    width: 450px;
    position: absolute;
    left: 1100px;
    bottom: -350px;
}

#here {
	left: 400px;
	top: 950px;
	position: absolute;
	font-weight: bold;
	font-size: 45px;
	color: rgba(27,61,108,1);
}

/*pics*/

.grid-container {
    margin-top: 1100px;
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap:100px;
  padding: 50px 200px;
}
.grid-item {
  padding: 0px 50px;
    cursor: pointer;
}

.grid-item img{
    height: 300px;
    width: 500px;
    cursor: pointer;
}

.para{
    background-color:rgba(27,61,108,1);
    color: white;
    height: 70px;
    width: 400px;
    padding: 20px 0px 0px 30px;
    margin-top: -95px;
    margin-left: 150px;
    position: absolute;
    transition: 0.5s ease; 
    opacity: 0;
    border-radius: 30px;
}

.grid-item:hover .para{
    opacity: 1;
}
}